@charset "UTF-8";
body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contener {
  /* outline: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .contener {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .contener {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .contener {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  position: relative;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-header__logo {
  padding: 0;
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  list-style: none;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__logo:hover, .page-header__logo:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.page-header__logo-web {
  color: #2196F3;
}

.page-header__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.page-header__button:focus, .page-header__button:hover {
  fill: #2196F3;
}

.page-header__button.is-open .page-header__close {
  display: block;
}

.page-header__button.is-open .page-header__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__button {
    display: none;
  }
}

.page-header__close {
  display: none;
}

.page-header__icon {
  width: 40px;
  height: 40px;
}

.page-header__box {
  background-color: #FFFFFF;
}

.page-header__box.is-open {
  display: block;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .page-header__box {
    height: 796px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__box {
    display: none;
    position: absolute;
    padding: 48px 40px;
    top: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page-header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  font-style: normal;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 305px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__item {
  padding-bottom: 32px;
}

.site-nav__item:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--current {
  position: relative;
  color: #2196F3;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #757575;
  list-style: none;
  font-style: normal;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    margin-left: 305px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .contact__link {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.16;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .contact__tel {
    margin-bottom: 32px;
    color: #2196F3;
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__tel {
    margin-top: 10px;
  }
}

.contact__icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.contact__icons {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contact__icons {
    display: none;
  }
}

.net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 64px;
}

@media screen and (min-width: 767px) {
  .net {
    display: none;
  }
}

.net__items {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.net__items:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.net__link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  color: #2196F3;
  text-decoration: none;
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  /* background-image: url(../images/bghero.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2F303A;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile_480/bghero_480.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile_480/bghero_480.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile_480/bghero_480@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile_480/bghero_480@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet_768/bghero_768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet_768/bghero_768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet_768/bghero_768@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet_768/bghero_768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop_1200/bghero_1200.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop_1200/bghero_1200.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop_1200/bghero_1200@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop_1200/bghero_1200@2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  /* outline: 2px solid red; */
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border: transparent;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.special-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .special-section {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.special-section_title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .special-section_title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.special-section_title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* через CALC */
.features__item {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .features__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 30px)/2);
    margin-right: 30px;
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
  .features__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px)/4);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}

.features__box {
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ================================= */
.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.section__box {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section__list {
  list-style: none;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section__item {
  width: calc((100%-60px)/3);
  margin-right: 30px;
}

.section__item:last-child {
  margin-right: 0;
}

.section__tumbimg {
  position: relative;
}

.section__tumbtext {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 1200px) {
  .section__tumbtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  padding: 0;
  text-decoration: none;
  list-style: none;
  /* outline: 1px solid blue; */
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.team__image {
  max-width: 450px;
}

@media screen and (min-width: 1200px) {
  .team__image {
    width: 270px;
  }
}

/*.section-team .item *{
     outline: 1px solid green; 
}*/
.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.team__items {
  width: 44px;
  height: 44px;
  /* border: 1px solid #AFB1B8; */
  margin-right: 10px;
  border-radius: 50%;
}

.team__items:last-child {
  margin-right: 0;
}

.team__icon {
  width: 20px;
  height: 20px;
}

.team__link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover, .team__link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: -15px;
}

.client__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 32px;
  width: 210px;
  height: 92px;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  text-align: center;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
  fill: #2196F3;
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    height: 92px;
  }
}

.client__item {
  -ms-flex-preferred-size: calc((100% / 15px) / 4);
      flex-basis: calc((100% / 15px) / 4);
  margin: 15px;
}

@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% / 15px) / 6);
        flex-basis: calc((100% / 15px) / 6);
    margin: 15px;
  }
  .client__item:last-child {
    margin-right: 0;
  }
}

.client__icon {
  width: 106px;
  height: 60px;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__contener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__contener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__box {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__box {
    margin-right: 70px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  list-style: none;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__logo:hover, .page-footer__logo:focus {
  color: #2196F3;
}

.page-footer__logo-web {
  color: #2196F3;
}

.page-footer__address {
  color: #FFFFFF;
  font-style: normal;
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .page-footer__address {
    text-align: center;
  }
}

/*===========footer contact===========*/
.page-footer__contact {
  font-style: normal;
  color: #212121;
  list-style: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__link {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__link:hover, .page-footer__link:focus {
  color: #2196F3;
}

.page-footer__item {
  margin-top: 8px;
}

/* ===========присоединяйтесь=========== */
@media screen and (max-width: 767px) {
  .footer__contener {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contener {
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 0;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 767px) {
  .footer__title {
    font-size: 14px;
    line-height: 1.14;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item:hover, .footer__item:focus {
  background-color: #2196F3;
}

.footer__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #FFFFFF;
}

.footer__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: #2196F3;
}

/*===========Подпишитесь на рассылку===========*/
.footer-sign {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-sign {
    margin-top: 0;
    margin-left: auto;
  }
}

.footer-sign__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (min-width: 767px) {
  .footer-sign__title {
    font-size: 14px;
    line-height: 1.14;
  }
}

.footer-sign__form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-sign__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-sign__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .footer-sign__input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sign__input {
    width: 358px;
  }
}

.footer-sign__button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-sign__button:hover, .footer-sign__button:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .footer-sign__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-sign__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding-left: 15px;
    padding-top: 93px;
    padding-right: 15px;
    padding-bottom: 94px;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-left: 159px;
    padding-top: 208px;
    padding-right: 159px;
    padding-bottom: 207px;
    z-index: 2;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: relative;
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .modal__button {
    top: 101px;
    right: 23px;
  }
}

@media screen and (min-width: 768px) {
  .modal__button {
    top: 8px;
    right: 8px;
  }
}

.modal__icon {
  width: 14px;
  height: 14px;
}

/*=========== Подпишитесь ===========  */
@media screen and (min-width: 767px) {
  .modal-panel {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.modal-panel__form {
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal-panel__form {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-panel__form {
    width: 528px;
    height: 581px;
  }
}

.modal-panel__title {
  margin-bottom: 12px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-panel__list {
  text-align: center;
  list-style: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-panel__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-panel__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.modal-panel__div {
  position: relative;
}

.modal-panel__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
  padding: 12px 42px;
}

.modal-panel__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-panel__input:focus + .modal-panel__icon,
.modal-panel__input:not(:placeholder-shown) + .modal-panel__icon {
  fill: #2196F3;
}

.modal-panel__input:focus,
.modal-panel__input:not(:placeholder-shown),
.modal-panel__textarea:not(:placeholder-shown) {
  border: 1px solid #2196F3;
}

.modal-panel__textarea {
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
  padding: 12px 16px;
}

.modal-panel__label--consent {
  margin-left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-panel__label--consent {
    margin-left: 13px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-panel__consent {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-panel__consenticon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-panel__consentspan {
  color: #2196F3;
  text-decoration: underline;
  margin-left: 4px;
}

.modal-panel__consent:checked + .modal-panel__consenticon {
  background-color: #2196F3;
  background-image: url("../images/checkk.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.modal-panel__label input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-panel__label input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-panel__label input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-panel__label input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.submit__button {
  border: transparent;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__button:hover, .submit__button:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.project__button,
.project {
  list-style: none;
}

.project__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .project__button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.project__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.project__item:last-child {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .project__item:last-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item:last-child {
    margin-bottom: 50px;
  }
}

.project__btn {
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 1px solid transparent;
  background-color: #F5F4FA;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__btn:hover, .project__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* +++++++++++++++++++ Технокряк++++++++++++++++++++++++++ */
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  /* outline: 1px solid blue; */
}

@media screen and (min-width: 768px) {
  .project {
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .project__list {
    margin-bottom: 30px;
  }
  .project__list:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__list {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.project__link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .project__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project__imege {
  position: relative;
  overflow: hidden;
}

.project__imege img {
  width: 370px;
}

@media screen and (max-width: 767px) {
  .project__imege img {
    width: 450px;
  }
}

.project__tunbtext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
}

.project__link:hover .project__tunbtext,
.project__link:focus .project__tunbtext {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */