.page-header{
    position: relative;
    background-color: $background-header-color;
    border-bottom: 1px solid #ECECEC;
}
.page-header__nav{
    display: flex;
    align-items: center;
    
    // padding-top: 16px;
    // padding-bottom: 16px;
    @media screen and (max-width:767px) {
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    }

}

.page-header__logo {
    // margin-right: 93px;
    padding: 0;
        
    color: $title-text-color;
    font-family: 'Raleway', sans-serif;
    font-style:normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    list-style:none;
    text-decoration: none;

    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: $accent-text-color;
}
    @media screen and (min-width:768px) {
    margin-right: 88px;
    }
    @media screen and (min-width:1200px) {
        margin-right: 93px;
        }
}
.page-header__logo-web {
    color: $accent-text-color;
}
.page-header__button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    &:focus,
    &:hover{
        fill: $accent-text-color;
    }
    &.is-open .page-header__close{
        display: block;
    }
    &.is-open .page-header__menu{
        display: none;
    }
    @media screen and (min-width:768px) {
        display: none;
    }
}
.page-header__close{
    display: none;
}
.page-header__icon {
    width: 40px;
    height: 40px;
}
.page-header__box{
       background-color: $hero-title-color;
    &.is-open{
        display: block;
        z-index: 1;
    }
    @media screen and (max-width:480px) {
        height: 796px;
    }
    @media screen and (max-width:767px) {
        display: none;
        position: absolute;
        padding: 48px 40px;
        top: 100%;
        top: 0;
        left: 0;
        width: 100%;
    }
    @media screen and (min-width:768px) {
        display: flex;
    }
}

// ----------------------
.nav{
    @media screen and (min-width:1200px){
        display: flex;
        align-items: center;
    }
    
}
.site-nav{
    // display: flex;
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    list-style:none;
    font-style:normal;
    color: $title-text-color;
    @media screen and (max-width:767px){
        display: flex;
        flex-direction: column;
        margin-bottom: 306px;

    }
    @media screen and (min-width:768px) {
        display: flex;
        
        
        font-size: 14px;
        line-height: 1.14;
    }
}
.site-nav__item{
    padding-bottom: 32px;
    &:last-child{
        padding-bottom: 0;
    }
    @media screen and (min-width:768px){
        padding-top: 32px;
        padding-bottom: 32px; 
    }
}
.site-nav__item:not(:last-child){
    @media screen and (min-width:768px){
        margin-right: 50px; 
    }
}
.site-nav__link{
    display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;
    text-decoration: none;
    color: $title-text-color;

    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: $accent-text-color;
}
    
}
.site-nav__link--current{
    position: relative;
    color: $accent-text-color;

    &::after{
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    // background-color: $accent-text-color;
}
}
.contact{
    display: flex;
    flex-direction: column-reverse;
   
    // margin-left: auto;
    fill: $primary-text-color;
     

    list-style:none;
    font-style:normal;
    color: $title-text-color;

    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width:767px){
        flex-direction: column-reverse;
        
    }
    @media screen and (min-width:768px){
        justify-content: center;
        flex-direction: column;
        margin-left: 84px;
        // text-align: center;
        // margin-left: auto;
    }
}
.contact__item:not(:last-child){
    @media screen and (min-width:1200px){
    margin-right: 50px;
    }
}
.contact__link{
    display: inline-flex;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    

    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-text-color;
        fill:$accent-text-color;
    }
    @media screen and (max-width:767px) {
        font-size: 24px;
        line-height: 1.17;
    }
    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: 1.16;
        display: inline-flex;
        align-items: center;
        
    }
}
.contact__tel{
    @media screen and (max-width:767px){
        margin-bottom: 32px;
        color: $accent-text-color;
        font-size: 34px;        
    }
    @media screen and (min-width:768px) {
        margin-top: 10px;
    }
}
.contact__icon{
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    @media screen and (max-width:767px) {
        display: none;        
    }
}
.contact__icons{
    display: inline-block;
    
    
    width: 10px;
    height: 16px;
    margin-right: 10px;
    @media screen and (max-width:767px) {
        display: none;        
    }
}
.net{
    display: flex;
    list-style: none;
    margin-top: 64px;
    @media screen and (min-width:767px){
        display: none;
    }
}
.net__items{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:last-child{
        margin-right:0;
        padding-right: 0;
        border-right: none;
    }
}
.net__link{
    font-size: 18px;
    line-height: 1.22;
    font-weight: 500;
    color: $accent-text-color;
    text-decoration: none;
    
}