$primary-text-color: #757575;
$title-text-color:#212121;
$accent-text-color:#2196F3;
$hero-title-color:#FFFFFF;
$footer-contact:rgba(255, 255, 255, 0.6);
$background-header-color:#FFFFFF;
$background-hero-color:#2F303A;
$background-team-color:#F5F4FA;
$background-footer-color:#2F303A;
$background-button:#188CE8;
$border-color:#EEEEEE;